body, html {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #C4DFDF;
  font-family: 'Times New Roman', Times, serif;
}
body{
  width: 80%;
}
#root {
  background-color: #F8F6F4;
  width: 80%;
  height: auto;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* all about inputs */
.inputs{
  display: flex;
  justify-content: stretch;
  width: 100%;
  align-items: stretch;
}

/* all about search elements */

.search{
  width: 85%;
}
.searchItem{
  width: 93%;
  height: 35px;
}
.searchButton {
  height: 40px;
  width: 40px;
  color: #1B9C85;
  font-size: larger;
  font-weight: bolder;
  cursor: pointer;
}
.searchButton:hover{
  background-color: #cfe6f1;
  border-radius: 3px;
  border: 1px solid #146C94;
}

/* all about add elements */
.add {
  width: 20%;
}

.addButton{
  width: 100%;
  height: 40px;
  cursor: pointer;
  color: #146C94;
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
}

.addButton:hover{
  background-color: #cfe6f1;
  border-radius: 3px;
  border: 1px solid #146C94;
}


.addMedicines{
  /* display: none; */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.addMedicines-contents{
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.inputForm {
  display: flex;
  flex-direction: column;
}

.inputOfAddMedicine{
  margin: 10px;
  height: 35px;
  background-color: #C4DFDF;
  border-radius: 4px;
  color: #08374c;
  cursor: pointer;
  width: 80%;
}
.description {
  height: 200px;
}

.medicineData{
  border: 1px solid #E3F4F4;
  border-radius: 10px;
  margin-top: 50px;
  padding: 20px;
  background-color: #D2E9E9;
}
.medicineData-contents{
  display: flex;
  justify-content: space-between;
}
.medicineData-headings{
  display: flex;
  justify-content: space-between;
}

.animated-div {
  transition: transform 0.3s ease;
}

.animated-div:hover {
  transform: scale(1.05);
}
 .deleteButton{
  
  background-color: #CD1818;
  color: white;
  cursor: pointer;
  width: 75%;
  margin-left: 9%;
 }
 .deleteButton:hover{
  background-color: #CE5959; 
 }
 .inputFormButton{
  width: 80%;
 }
 .inputFormButton:hover{
  background-color: #A4D0A4;
 }